<h1>Welcome#index</h1>

<% form_tag do %>
    <%= text_field_tag 'name', placeholder: 'Enter name here'  %>
    <%= text_field_tag 'email', placeholder: 'Enter email here' %>
    <%= password_field_tag 'password' %>

<% end %>